*{
    margin: 0;
    font-family: sans-serif;
}
.btn-primary {
    height: 50px;
    width: 150px;
    font-weight: 700;
    background-color: #F16529;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
}
header {
    position: absolute;
    background-image: url('../images/banner/banner2.png');
    width: 100%;
    height: 100vh;
}
.header-content {
    float: right;
    text-align: left;
    font-size: 16px;
    padding: 200px;
    justify-content: space-between;
    max-width: 500px;
}
.header-title {
    font-weight: 700;
    font-size: 60px;
    color:  #151414;
}
.header-description {
    font-weight: 400px;
    font-size: 16px;
    color: #444343;
    margin-top: 10px;
}

main{
    margin-left: 200px;
    margin-right: 200px;
}
/* header end */

.about {
    position: absolute;
    margin-top: 750px;
    display: flex;
    margin-left: 200px;

}
.about-heading {
    margin-top: 300px;
    width: 300px;
    padding-left: 100px;
}
.heading-title {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 30px;
}
.about-icon ul {
    margin-top: 10px;
}
.about-icon ul li {
    padding: 5px;
}
/* about end */

/* plan part start */

.my-plans {
    position: relative;
    padding-top: 1700px;
    display: flex;
    padding-left: 270px;
    margin-bottom: 100px;
    text-align: center;
}
.plan-box {
    padding-right: 100px;
}

.grediant  img{
    background: url('../images/watch.png');
    width: 1000px;
    margin-left: 170px;

}
.grediant-heading {
    margin-top: -200px;
    margin-left: 400px;
    width: 500px;
    color: #fff;
    font-size: 30px;
}

/* footer start */
footer {
    width: 100%;
    height: 70vh;
    background-color: #000;
    position: absolute;
    margin-top: 150px;
    display: flex;
}
.feature{
    width: 30%;
    padding: 150px;
    float: left;
    padding-left: 250px;
}
.feature p{
    color: rgb(224, 212, 212);
    font-weight: 400;
}
.email {
    padding-top: 10px;
    padding-bottom: 10px;
}
.phone {
    padding-bottom: 20px;
}
.social-icons {
    padding-right: 10px;
}
.subscribe {
    width: 30%;
    padding-top: 150px;
}
.high {
    color: #fff;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.email-2{
    height: 40px;
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    border-color: #fff;
    font-size: 15px;
    color: rgb(224, 212, 212);;
}

.sub-btn {
    height: 50px;
    width: 200px;
    background-color: #fff;
    color: #F16529;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}